<html>

<head>
    <title>Reset Password | www.trendcart.com</title>
</head>

<body>

    <h1 style="color:blue;text-decoration:underline;decoration-underline-offset:8px;text-decoration-color:white">www.trendcart.com</h1>

    <h5>Reset Password Link for Email Address <%= email %></h5>
    <p>Click the link below to reset your password:</p>
    <a href="<%= resetLink %>">Reset Link</a>
</body>

</html>