<html>

    <head>
        <title>Password Reseted Successfully | www.trendcart.com</title>
    </head>

    <body>

        <h1 style="color:blue;text-decoration:underline;decoration-underline-offset:8px;text-decoration-color:white">www.trendcart.com</h1>

        <h5 style="color:green">Your Password for email <span style="color:black;text-decoration:underline;decoration-underline-offset:8px;"><%= email %><span> was Reseted Successfully</h5>
    </body>

</html>